<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        ">

	<!-- support JSR303 annotation if JSR 303 validation present on classpath -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- permet d'indiquer à la servlet qu'elle doit explorer les classes (des 
		packages listés) et exploiter les annotations. -->
	<context:component-scan base-package="annuaire.web" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<jee:jndi-lookup id="daoPerson" jndi-name="java:global/Annuaire/DAOPerson" />
	<jee:jndi-lookup id="daoGroup" jndi-name="java:global/Annuaire/DAOGroup" />
	<jee:jndi-lookup id="emailSender" jndi-name="java:global/Annuaire/EmailSender" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/person/edition.htm" />
			<mvc:mapping path="/person/add.htm" />
			<mvc:mapping path="/person/delete.htm" />
			<bean class="annuaire.web.Interceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/auth/*" />
			<mvc:exclude-mapping path="/auth/logout.htm" />
			<bean class="annuaire.web.AuthInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
